<mat-card *ngIf="showDetails" class="card">

    <div class="heading">
        <div class="header_image">
            <mat-icon [inline]="true">account_circle</mat-icon>

        </div>

        <div class="about">
<div> <h2> {{employeeInfo.name}}</h2></div>
<div class="position"><span> {{employeeInfo.position}}</span> </div>

        </div>

        
    </div>
    <div (click)="removeDetails()" class="close_button">
        <mat-icon [inline]="true">clear</mat-icon>


    </div>

    <mat-card-content>
        <p>
            {{employeeInfo.about}}
        </p>
      </mat-card-content>

      <div class="footer">
          <h3><span>JOINING DATE : </span>  {{employeeInfo.joining_date |date:' dd/MM/yyyy'}}</h3>
      </div>
   
  </mat-card>
  

